:root {
    --Accent: #a368ff;
    --Primary: #d0b3ca;
    --Secondary: #f5eff4;
    --Text-color: #d8e1e9;
    --Background: #0f0f0f;
}

.LYTText {
    font-size: 7rem;
}

div#OuterLYTUI {
    height: 100vh;
    width: 100%;
    
    position: absolute;
    z-index: 1000;

    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: rgba(0, 0, 0, 0.486);
}

div#LYTUI {
    width: 50%;
    height: 45%;

    background-color: var(--Background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5%;

    color: var(--Text-color)
}

h1.InputNameText {
    margin-top: 1rem;
    width: 20rem;
    text-align: left;
}

.LYTMainInput {
    width: 20rem;
    height: 2.8rem;

    margin-top: 0.2rem;
    
    background: var(--Primary);

    transition: all .2s ease-in;

    border: transparent solid 2px
}

.LYTMainInput:focus-visible {
    border: var(--Accent) solid 2px;
    outline: none;
}

input#LYTClose, input#LYTDownload {
    margin-left: 0.5rem;

    width: 8rem;
    height: 2.8rem;

    border-radius: 10%;

    transition: all .2s ease-in;

    background-color: var(--Primary);
}

input#LYTClose:hover, input#LYTDownload:hover {
    scale: 1.05;
}

input#LYTClose:active, input#LYTDownload:active {
    scale: 0.95;
}

div.LYTMainButtons {
    margin-top: 2rem;
    
    display: flex;

    justify-content: space-around;
    align-items: center;
}

#LYTDownloadMessage {
    margin-top: 1rem;
    opacity: 0;
    transition: all .3s ease-in;
}

/* Save Button */

input#LYTSaveButton {
    cursor: pointer;

    color: #fff;
    background: none;
    border: none;

    padding: 0;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 4px;

    font-weight: 550;
}