@tailwind base;
@tailwind components;
@tailwind utilities;

@property --gradient-from {
    syntax: "<color>";
    initial-value: #123c70;
    inherits: false;
}

@property --gradient-to {
    syntax: "<color>";
    initial-value: #59a3ff;
    inherits: false;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 45deg;
    inherits: false;
}

@keyframes gradientDirection {
    0% {
        --gradient-angle: 45deg
    }

    50% {
        --gradient-angle: 315deg;
    }

    100% {
        --gradient-angle: 44deg
    }
}

:root {
    --gradient-from: red;
    --gradient-to: blue;
}

html, body {width: 100%; height: 100%; margin: 0;}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

div.ContentActive {
    z-index: 1;
    opacity: 1;
}

.videoTitle {
    line-height: 1em;
}

#Videos > div:nth-child(1) {
    margin-top: .8em;
}

h1.ACCESS_GRANTED {
    color: rgb(34 197 94) !important;
    filter:drop-shadow(0 0 15px green) !important;
    font-weight: 750;
}

.videoDisplay {
    animation: gradientDirection 60s infinite;
    background-image: linear-gradient(var(--gradient-angle), var(--gradient-from), var(--gradient-to));
}

/* .TabSelected {
    @apply bg-gradient-to-tr from-[rgb(65,115,190)] to-[rgb(10,46,112)];
} */

#Littlepriceonu:focus-visible {
    outline:none;
    border:#0752ad solid 2px;
    filter:drop-shadow(0 0 10px blue)
}

#Littlepriceonu:hover {
    outline: none;
    border: #0752ad solid 2px;
    filter: drop-shadow(0 0 10px blue)
}

.downloadProgress {
    display: flex !important;
}

.downloadProgress[data-status="success"] {
    @apply bg-green-600 drop-shadow-[0_0_5px_green]
}

.downloadProgress[data-status="inprogress"] {
    @apply bg-orange-600
}

.downloadProgress[data-status="error"] {
    @apply bg-red-600 drop-shadow-[0_0_5px_red]
}

.springTimingFunction {
    transition-timing-function: cubic-bezier(1,-0.13,.58,1.87);
}